<%- include('header.html') -%>

<p> Sua pergunta foi cadastrada com sucesso. 
    Clique <a href="http://localhost:3000/">aqui</a> para voltar para a página principal.</p>
  
<%- include('footer.html') -%>