<%- include('header.html') -%>

<p> Sua resposta foi cadastrada com sucesso. 
    Clique <a href="/respostas/?id_pergunta=<%=id_pergunta%>">aqui</a> para voltar 
    para a página da pergunta. </p>

<%- include('footer.html') -%>